<mat-toolbar class="max-w-7xl bg-inherit mx-auto text-textCol2 justify-between items-center">
    <a class="text-4xl text-col2 font-extrabold border-b-4 border-bodCol"routingLink="/">
        TET' <span class="italic text-6xl">S</span>tore
    </a>

    <div class="dropdown dropdown-left dropdown-bottom">
        <label tabindex="0" class="btn m-1 rounded-full bg-bodCol hover:bg-hovCol">
            <mat-icon [matBadgeHidden]="!itemsQuantity" [matBadge]="itemsQuantity" matBadgeSize="medium" class="text-3xl bg-inherit text-col">
                shopping_cart
            </mat-icon>
        </label>
        <ul tabindex="0" class="dropdown-content text-col2 border-2 border-bodCol menu p-2 bg-inherit w-96 text-base">
            <div class="flex justify-between items-center flex-row border-b-2 border-bodCol p-2">
                <span class="font-bold">Items {{ itemsQuantity }}</span>
                <a class="btn btn-sm bg-btnCol text-col hover:bg-hovCol active:bg-actCol" routerLink="/cart">View Cart</a>
            </div>
          <li *ngFor="let item of cart.items" class="active:bg-actCol hover:bg-hovCol hover:text-col">
            <div class="flex flex-row justify-between items-center bg-inherit">
                <span class="bg-inherit">{{ item.name }}</span>
                <span class="bg-inherit">x {{ item.quantity }}</span>
                <span class="bg-inherit">{{ item.quantity * item.price | currency:'KES ' }}</span>
                <button (click)="removeCartItem(item)">
                    <mat-icon removeCartItem  matBadgeSize="medium" class="bg-inherit hover:text-red-600">
                        delete
                    </mat-icon>
                </button>
            </div>
        </li>

        <hr>
        <div class="flex flex-row justify-between items-center mb-3 p-2">
            <span>Total</span>
            <a class="bg-inherit font-bold">{{ getTotal(cart.items) | currency:'KES ' }}</a>
        </div>

        </ul>
      </div>
    
</mat-toolbar>